#s-30018489-9fa4-4fd9-9f7e-5617526f785f > #backgroundBox {
  position: absolute;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f > #alignmentBox {
  position: relative;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_1 {
  position: absolute;
  width: 1251.2737920931502px;
  min-height: 537.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 {
  position: absolute;
  width: 1251.2737920931504px;
  min-height: 80.46694595352982px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #1EA873;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 {
  position: absolute;
  width: 1251.2737920931504px;
  min-height: 48.466945953529944px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #1EA873;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #shapewrapper-s-Line_1 {
  position: absolute;
  width: 61.00819617067857px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  sepia(100.0%);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Line_1 {
  width: 61.00819617067857px;
  height: 27.0px;
  stroke-width: 9.0px;
  stroke: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #shapewrapper-s-Line_2 {
  position: absolute;
  width: 60.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Line_2 {
  width: 60.0px;
  height: 27.0px;
  stroke-width: 9.0px;
  stroke: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_1 {
  position: absolute;
  width: 31.67578125px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 32.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 32.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 {
  position: absolute;
  width: 47.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 input::-webkit-input-placeholder {
  color: #0B0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 input::-moz-placeholder {
  color: #0B0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 input:-moz-placeholder {
  color: #0B0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 input:-ms-input-placeholder {
  color: #0B0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 {
  position: absolute;
  width: 737.0000000000002px;
  height: 45.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 .valign {
  vertical-align: middle;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_2 {
  position: absolute;
  width: 270.046875px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_2 span {
  color: #1986E5;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #1986E5;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 input::-webkit-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 input::-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 input:-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 input:-ms-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 .valign {
  vertical-align: middle;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 input {
  color: #0F0E0E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 input::-webkit-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 input::-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 input:-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 input:-ms-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 .valign {
  vertical-align: middle;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 input {
  color: #0F0E0E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 input::-webkit-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 input::-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 input:-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 input:-ms-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 .valign {
  vertical-align: middle;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 input {
  color: #0F0E0E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 input::-webkit-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 input::-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 input:-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 input:-ms-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 .valign {
  vertical-align: middle;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 input {
  color: #0F0E0E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 input::-webkit-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 input::-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 input:-moz-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 input:-ms-input-placeholder {
  color: #0A0B0B;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 .valign {
  vertical-align: middle;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 input {
  color: #0F0E0E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Image {
  position: absolute;
  width: 288.0px;
  height: 327.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Image_1 {
  position: absolute;
  width: 288.0px;
  height: 327.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #2A68D4;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-30018489-9fa4-4fd9-9f7e-5617526f785f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}